@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
  --primary-color: #36419d;
  --accent-color: #1f1868
  --highlight-color: #e8c308;
  --headline-color: #fbfbfd;
  --highlight-text-color: #24bbed;
  --select-color;#0a0706
}
