@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary: #36419d;
  --color-accent: #1f1868;
  --color-highlight: #e8c308;
  --color-headline: #fbfbfd;
  --color-highlight-text: #24bbed;
  --color-select: #0a0706;
}
