@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:wght@400;700&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary: #36419d;
  --color-db: #1f1868;
  --color-yellow: #e8c308;
  --color-white: #fbfbfd;
  --color-sb: #24bbed;
  --color-bsb: #e4eaf1;
  --color-bl: #0a0706;
  --font-headline: 'Playfair Display', serif;
}

@layer base {
  body {
    @apply m-0 p-0 bg-white;
  }
  #root {
    @apply min-h-screen flex;
  }
}
